@font-face{

font-family: 'Metal Lord';

src: url('../fonts/metallord.ttf');

src: url('../fonts/metallord.ttf?iefix') format('truetype');

font-weight: normal;

font-style: normal;

}
body{
	background-image: url(../img/Back3.jpg);
	
	background-size: contain;
}

#time{
    margin:0 auto;
	
	font-size: 400%;
	color: white;
	text-align: center;
	font-family: "Metal Lord" ,fantasy;
}

#Check {
    margin:0 auto;
    max-width: 500px;
    min-height: 300px;
    overflow: hidden;
    padding: 20px;
}
 
#Check2 {
    max-width: 100%;
    height: auto;
}